{%extends 'appname1/base_temp.html'%}
{%block head%}
<script>
	function add_cart(gid) {
		$.get('/islogin/',function (data) {
			if(data.islogin == '1'){
			    $.get('/addcart/',{'gid':gid},function (data) {
					if(data.issuccess == '1'){
					    refresh();
					    alert('添加成功');
					}else {
					    alert('添加失败');
					}
                })
			}else{
			    location.href('/login/');
			}
        })
    }
</script>
{%endblock head%}
{%block user%}
{%endblock user%}
{%block content%}
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="#" class="fruit">新鲜水果</a></li>
					<li><a href="#" class="seafood">海鲜水产</a></li>
					<li><a href="#" class="meet">猪牛羊肉</a></li>
					<li><a href="#" class="egg">禽类蛋品</a></li>
					<li><a href="#" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="#" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>
	{%block fenlei%}
	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{type.ttitle}}</a>
	</div>
	{%endblock fenlei%}
	<div class="main_wrap clearfix">
		{%block right%}
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					<li>
						<a href="/detail{{recommendgoods.0.id}}/"><img src="/static/{{recommendgoods.0.gpic}}"></a>
						<h4><a href="/detail{{recommendgoods.0.id}}/">{{recommendgoods.0.gtitle}}</a></h4>
						<div class="prize">￥{{recommendgoods.0.gprice}}</div>
					</li>
					<li>
						<a href="/detail{{recommendgoods.1.id}}/"><img src="/static/{{recommendgoods.1.gpic}}"></a>
						<h4><a href="/detail{{recommendgoods.1.id}}/">{{recommendgoods.0.gtitle}}</a></h4>
						<div class="prize">￥{{recommendgoods.0.gprice}}</div>
					</li>
				</ul>
			</div>
		</div>
		{%endblock right%}
		{%block main%}
		<div class="r_wrap fr clearfix">
			{%block select%}
			<div class="sort_bar">
				<a href="/list{{type.id}}_1_1/" {%if orderBy == '1'%}class="active"{%endif%}>默认</a>
				<a href="/list{{type.id}}_1_2/?desc={%if desc == '1'%}0{%else%}1{%endif%}" {%if orderBy == '2'%}class="active"{%endif%}>价格</a>
				<a href="/list{{type.id}}_1_3/" {%if orderBy == '3'%}class="active"{%endif%}>人气</a>
			</div>
			{%endblock select%}
			<ul class="goods_type_list clearfix">

				{%for p in page%}
				<li>
					<a href="/detail{{p.id}}/"><img src="/static/{{p.gpic}}"></a>
					<h4><a href="/detail{{p.id}}/">{{p.ttitle}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{p.gprice}}</span>
						<span class="unit">{{p.gprice}}/{{p.gunit}}</span>
						<a href="javascript:add_cart({{p.id}});" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
				{%endfor%}

			</ul>



			<div class="pagenation">
				{%if page.has_previous%}
				<a href="/list{{id}}_1_{{orderBy}}/?desc={{desc}}">首页</a>
				<a href="/list{{id}}_{{page.number|add:-1}}_{{orderBy}}/?desc={{desc}}"><上一页</a>
				{%endif%}
				{%for i in page_range%}
					{%if i == page.number%}
					<a href="#" class="active">{{page.number}}</a>
					{%else%}
					<a href="/list{{id}}_{{i}}_{{orderBy}}/?desc={{desc}}">{{i}}</a>
					{%endif%}
				{%endfor%}
				{%if page.has_next%}
				<a href="/list{{id}}_{{page.number|add:1}}_{{orderBy}}/?desc={{desc}}">下一页></a>
				<a href="/list{{id}}_{{page.paginator.num_pages}}_{{orderBy}}/?desc={{desc}}">末页></a>
				{%endif%}
			</div>
		</div>
		{%endblock main%}
	</div>
{%endblock content%}
